@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.masonry-col {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-col > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 15px;
  overflow: hidden;
}